<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Post</title>
    <link rel="stylesheet" href="/new.css" />
  </head>
  <body>
    <form action="/posts" method="post">
      <input placeholder="Enter username" name="username" required />
      <textarea
        name="content"
        placeholder="Write your post"
        required
      ></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
